<table id = "activity_table" class="table">
  <thead>
    <tr style="background: gold">
      <th>Activity</th>
      <th>From</th>
      <th>To</th>
      <!--<th>Total</th>-->
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% unless @activities.blank? %>
   
        <% @activities.each do |act| %>
         <tr style="background: lavender">
          <td><%= act.activity_name %></td>
          <td><%= act.date_from %></td>
          <td><%= act.date_to %></td>
          <!--<td>4 hrs</td>-->
          <td></td>
          </tr> 
       <% end %>
    
    <% end %>     
  </tbody>
</table>